## JSON 데이터 살펴보기

In [1]:
# 상위 몇개 데이터만 먼저 츌력하는 이유
    # 데이터 형태를 알아야 코드 짤 수 있기 때문

### 라이브러리 불러오기

In [3]:
# 라이브러리 import하기
import requests
from pandas import DataFrame

### 웹 데이터 요청하기

In [5]:
# 세션 객체 생성
with requests.Session() as session:
    # 세션 객체에 웹 브라우저 정보(UserAgent) 주입
    session.headers.update({
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
    })

    # 요청할 데이터의 URL
    url = "https://data.hossam.kr/py/departments.json"
    # 요청결과 받아오기 --> HTTP GET 요청
    r = session.get(url)

    # HTTP 상태값이 200이 아닌 경우는 강제로 에러를 발생시켜서 코드의 진행을 중단시킴
    if r.status_code != 200:
        msg = "[%d error] %s 에러가 발생함" % (r.status_code, r.reason)
        raise Exception(msg)
    
    print(r)

<Response [200]>

### 응답결과 확인

In [7]:
# 수신된 데이터의 인코딩 설정 
    # (한글이 깨진다면 euc-kr로 변경 ㄱ)
r.encoding = "utf-8"

# 수신된 결과를 딕셔너리로 변환한다
my_dict = r.json()
my_dict

{'result': [{'id': 101,
   'dname': '컴퓨터공학과',
   'loc': '공학관',
   'phone': '051-123-4567',
   'email': 'cs@myschool.ac.kr'},
  {'id': 102,
   'dname': '소프트웨어학과',
   'loc': '디자인관',
   'phone': '051-124-4567',
   'email': 'media@myschool.ac.kr'},
  {'id': 201,
   'dname': '전자공학과',
   'loc': '공학관',
   'phone': '051-125-4567',
   'email': 'ee@myschool.ac.kr'},
  {'id': 202,
   'dname': '기계공학과',
   'loc': '공학관',
   'phone': '051-126-4567',
   'email': 'me@myschool.ac.kr'},
  {'id': 203,
   'dname': '건축학과',
   'loc': '건축관',
   'phone': '051-127-4567',
   'email': 'arch@myschool.ac.kr'},
  {'id': 204,
   'dname': '산업디자인학과',
   'loc': '디자인관',
   'phone': '051-128-4567',
   'email': 'id@myschool.ac.kr'},
  {'id': 301,
   'dname': '경영학과',
   'loc': '경영관',
   'phone': '051-129-4567',
   'email': 'biz@myschool.ac.kr'},
  {'id': 302,
   'dname': '경제학과',
   'loc': '경영관',
   'phone': '051-130-4567',
   'email': 'econ@myschool.ac.kr'},
  {'id': 401,
   'dname': '영어영문학과',
   'loc': '인문사회관',
   'phone': '051-131-4567',
   'email': 'eng@myschool.ac.kr'},
  {'id': 402,
   'dname': '심리학과',
   'loc': '인문사회관',
   'phone': '051-132-4567',
   'email': 'psy@myschool.ac.kr'},
  {'id': 500,
   'dname': '인공지능학과',
   'loc': '공학관',
   'phone': '051-123-4567',
   'email': 'ai@myschool.ac.kr'},
  {'id': 501,
   'dname': '사회복지학과',
   'loc': '인문관',
   'phone': '051-432-2233',
   'email': 'social@myschool.ac.kr'},
  {'id': 502,
   'dname': '심리학과',
   'loc': '인문관',
   'phone': '051-336-7788',
   'email': 'psyc@myschool.ac.kr'},
  {'id': 503,
   'dname': '체육학과',
   'loc': '체육관',
   'phone': '051-434-3345',
   'email': 'phy@myschool.ac.kr'}],
 'timestamp': '2025-11-04 09:37:33'}

### 응답 결과 활용

In [9]:
# 데이터프레임으로 변환 ㄱㄱ
df = DataFrame(my_dict["result"])
df

     id    dname    loc         phone                  email
0   101   컴퓨터공학과    공학관  051-123-4567      cs@myschool.ac.kr
1   102  소프트웨어학과   디자인관  051-124-4567   media@myschool.ac.kr
2   201    전자공학과    공학관  051-125-4567      ee@myschool.ac.kr
3   202    기계공학과    공학관  051-126-4567      me@myschool.ac.kr
4   203     건축학과    건축관  051-127-4567    arch@myschool.ac.kr
5   204  산업디자인학과   디자인관  051-128-4567      id@myschool.ac.kr
6   301     경영학과    경영관  051-129-4567     biz@myschool.ac.kr
7   302     경제학과    경영관  051-130-4567    econ@myschool.ac.kr
8   401   영어영문학과  인문사회관  051-131-4567     eng@myschool.ac.kr
9   402     심리학과  인문사회관  051-132-4567     psy@myschool.ac.kr
10  500   인공지능학과    공학관  051-123-4567      ai@myschool.ac.kr
11  501   사회복지학과    인문관  051-432-2233  social@myschool.ac.kr
12  502     심리학과    인문관  051-336-7788    psyc@myschool.ac.kr
13  503     체육학과    체육관  051-434-3345     phy@myschool.ac.kr

## 타이타닉 생존비율 구하기

In [ ]:
# https://data.hossam.kr/py/titanic.json 
    # 타이타닉 탑승자 명단 데이터셋
    # 리스트 형식의 데이터를 포함
    # key: passengers
    # 리스트의 각 원소 = 탑승객 1명의 데이터

### 웹 데이터 요청하기

In [13]:
with requests.Session() as session:
    session.headers.update({
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
    })

    # 요청할 데이터의 URL
    url = "https://data.hossam.kr/py/titanic.json"
    r = session.get(url)

    if r.status_code != 200:
        msg = "[%d error] %s 에러가 발생함" % (r.status_code, r.reason)
        raise Exception(msg)

    print(r)

<Response [200]>

### 응답 결과 화긴

In [15]:
# 수신된 데이터의 인코딩 설정 
    # (한글이 깨진다면 euc-kr로 변경 ㄱ)
r.encoding = "utf-8"

# 수신된 결과를 딕셔너리로 변환
my_dict = r.json()

# 리스트 형식의 데이터만 추출하여 상위 2건만 먼저 확인
    # for 데이터 형태 화긴
passengers = my_dict['passengers']
print(passengers[:2])

[{'id': 1, 'survived': False, 'pclass': 3, 'name': 'Braund, Mr. Owen Harris', 'sex': 'male', 'age': 22, 'sibsp': 1, 'parch': 0, 'ticket': 'A5 21171', 'fare': 7.25, 'cabin': None, 'embarked': 'S'}, {'id': 2, 'survived': True, 'pclass': 1, 'name': 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)', 'sex': 'female', 'age': 38, 'sibsp': 1, 'parch': 0, 'ticket': 'PC 17599', 'fare': 71.2833, 'cabin': 'C85', 'embarked': 'C'}]

### 생존 비율 구하기

In [17]:
# 리스트 길이 = 전체 탑승객 수
total = len(passengers)

# 생존자 수 구하기
survived = 0

# 생존자 명단 탐색
for p in passengers:
    # if 생존, 생존자 수 증가 1
    if p['survived'] == True:
        survived += 1

# 전체 비율 구하기
rate = survived * 100 / total
print("전체 탑승객 %d명 중에서 %0.2f%%의 탑승객만 생존 했습니다." % (total, rate))

전체 탑승객 891명 중에서 38.38%의 탑승객만 생존 했습니다.