##### Lab 01 - 파이썬 시작하기, 변수와 연산자   → PPT PART 제목 (좌측 상단)
###### #03. 첫 번째 프로그램   → 단원명 (왼쪽 사이드바)
######
 소스코드 작성하기   → 페이지 제목 (페이지 상단)

#### [블록모드 전환방법 단축키]
###### - 이동모드에서는:
#####    Markdown → Python: Y
#####    Python → Markdown: M

In [ ]:
a = 100    # 100을 의미하는 a라는 데이터 생성
b = 200    # 100을 의미하는 b라는 데이터 생성
# 방향성: ← ('='을 기준으로 오른쪽 '값'에서 왼쪽 '변수'로!!)
# 수학의 '같다' 보다는 "프로그래밍의 '대입한다'"" 의미임

# 합산 결과 출력하기
print(a + b)

In [ ]:
# 메세지를 출력하는 명령어
print("Hello World")

In [ ]:
### 다양한 변수 만들기

In [ ]:
a=100

In [ ]:
b=200

In [ ]:
print(a + b)
#데이터분석에서 작성하는 코드는 프로그래밍 보다는 
#코드로 무언가를 서술하는 성격임
# → 코드 마다 shift+enter 누르는 습관 추천

In [ ]:
c=3.45

In [ ]:
d = -2.1

In [ ]:
print(d)
# 한번 할당된 변수 (초기화, 즉 정의)된 변수는 다른 값으로 변경 가능

In [ ]:
d=- 2.1
print(d)

In [ ]:
# 음수 부호랑 숫자 사이에는 띄어쓰기 유무 상관 없긴 함...

In [ ]:
### 논리형 변수
#### '=' 오른쪽에 값 말고 단어 옴
#### "첫 알파벳은 대문자임!!! (조심)"
# 대입되는 값에 따라서 '변수의 유형이 저장됨!!' → 전 코딩, 후 정의 성격

a=True
#대문자 꼭!!!

In [ ]:
print(a)

In [ ]:
b=False
print(b)

In [ ]:
# 문자열 변수
a = '안녕하세요. 파이썬'
print(a)

In [ ]:
# 내용이 없는 변수
a = None
print(a) # 여기도 대문자 주의!!

In [ ]:
# (∴) 변수는
### 숫자
### 예약어 (True, False, None, and, as, break, if 등) 대소문자 구분 주의
### 문자열 (" " 또는 ' '를 문자 겉에 쓰워주기!)

In [ ]:
# (변수가 있다면 연산자도 있겠지...)
# 연산자 (print(연산자)도 사용 가능)
### 대입 연산자 (=) 
#              : '우변' '값'을 '좌변' '변수'에 "저장"한다고 해석 ㄱ
#              : 연산 결과를 다른 변수에 할당 가능!
#              : 맞교환 'swap' 이라는 기능 있음 (a, b = b, a: 좌변 a가 b 되고, b가 a 됨)
### 산술 연산자 (+, -, *, /, **(거듭제곱), //(나눗셈의 몫), %(나눗셈의 나머지)) 
### 단항 연산자: 어떤 변수에 대한 연산 결과를 다시 변수 본인에게 적용하는거 
#               (+=, -=, *=, /=, //=, %/)
#               (변수 '스스로' 산술연산 한다 라고 해석해도 됨!)
### 비교 연산자 (or 관계 연산자): 관계 비교해서 True(1) or False(0) 결과 반환하는거 
#               (==혹은is, !=혹은 is not, >, >=, <=)
#               ("완전"항등연산자 is, is not의 경우 "데이터 타입" such as 정수, 실수까지 일치해야 True 처리!)
#              : 비교연산도 결과를 다른 변수에 할당 가능!
### 논리 연산자: 좌변과 우변을 논리연산 하고 True(1) or False(0) 결과 반환하는거 (명제) 
#               (and, or, not True, not False)
# 비교연산자, 논리연산자 섞여있을 때: 우선순위는 '비교연산자'
# and가 or보다 더 우선순위!

In [ ]:
a=1
b=2

In [ ]:
print(a)
print(b)

In [ ]:
print(a,b==b,a) #swap 표현으로 옳지 않음

In [ ]:
a,b = b,a
print(a)
print(b) #이게 swap 제대로 된거임

In [ ]:
a, b = b, a
print(b, a)

In [ ]:
print(a)
print(b)

In [ ]:
#print의 결괏값이 matrix적 성격을 띄네...?

In [ ]:
a=3
b=4
c=a+b

In [ ]:
print(c)

In [ ]:
print(b//a)

In [ ]:
print(b%a)

In [ ]:
print(a**b)

In [ ]:
a=1
a+=100
a *= 10
a //= 3
a %= 5
print(a)

In [ ]:
a=100
b=50
c=100.0
d=50.0
print(a==b)

In [ ]:
print(a!=b)

In [ ]:
print(a==c)

In [ ]:
print(a is c)

In [ ]:
print(b is not d)

In [ ]:
print(a>b)
print(b<=a)

In [ ]:
e = a is c
print(e)

In [ ]:
result = 100 == 100.0
print(result)

In [ ]:
result = 100 > 50
print(result)

In [ ]:
a = True
b = not a
print(b)
print(not b)
print(not a)

In [ ]:
a = 100 > 50
b = 20 > 10
print(a and b)

In [ ]:
c = 100 >= 100 and 50 ==10
print(c)

In [ ]:
# Lab 02 - 함수의 이해, 조건문과 반복문



## # 01. 함수의 이해
## ### function: 함수, '재사용' 하기 위한 단위


## ## 1. 정의하기:
## ### def 함수이름(파라미터):
## ###     (Tab 들여쓰기)수행할 연산식 ....
## ###     return 반환값(or 식)

# ex) y = 2x + 1을 정의할 때: 
## f: 함수이름, x: 매개변수, 1: 파라미터 
## ### def. f(x)
    #명령어 없는 case
## ###     return 2 * x + 1    


## ## 2. 함수 호출하기: 
## ### 함수이름(매개변수(정의할 때: x) 또는 파라미터(호출할 때: 숫자))

# ex) y: 변수, f: 함수이름, 1: 파라미터
    # y = f(1) 
    # print(y)


## ## 3. 입력 받은 내용의 데이터 타입 확인 방법:
## ### t = type(변수)
## ### print(t)
# → 출력: <class 'int'>, <class 'float'>, <class 'str'>, <class 'bool'>


## ## 4. 함수 종류:

## ### input(" ") 함수: 문자열 입력할 때.

## ### 변수이름 = input("표시할 메세지 내용")
## ### print(변수이름)

# ex) if 문자열 입력하는 경우
    # msg1 = input("메세지를 입력하세요")
    # print(msg1)
#이후에 우측 상단에 메세지 입력 창 뜨는데, 
# 여기에 메세지 입력 후 '엔터' 누르면 
# 입력내용이 'msg1' 변수에 저장된다.

## ### int() 함수: "문자열 변수"를 "정수로 변환"시켜주는 함수.
    #caution: (  ) 안에 입력하는 문자열은 "지정되지 않은 변수"로 쓰면 안됨!
# ex) 
    # a = "123"
    # b = "45"

In [ ]:
t1 = type(a + b) #문자열 끼리는 더하기 연산만 가능
print(t1)

n1 = int(a)
n2 = int(b)
print(a + b)

t2 = type(n1 + n2)
print(t2)

In [ ]:
aaaa = 20
type_of_age = type(aaaa)
print(type_of_age)

:

In [ ]:
msgg = "Hello World"
type_of_message = type(msgg)
print(type_of_message)

In [ ]:
aA = 100
bB = 3.14
cC = True
print("Life is too short to learn Python", aA, bB, cC)

In [ ]:
msg_11 = input(" ")
print(msg_11)

In [ ]:
msg21 = input(" ")
print(msg21)

In [ ]:
type_of_msg22 = type(" ")
print(type_of_msg22)

In [ ]:
ab = "123"
bc = "45"

t1 = type(ab + bc)
print(t1)

z1 = int(ab)
z2 = int(bc)
print(ab + bc)

t2 = type(z1 + z2)
print(t2)

In [ ]:
print(ab, bc)

In [ ]:
abc = "123.45" 
cd = "67.89"

rx = float(abc)
ry = float(cd)

print(rx + ry)

In [ ]:
tt = type(rx)
print(tt)

In [ ]:
nna = 100
nnb = float(nna)
print(nnb)

In [ ]:
t2 = type(nnb)
print(t2)

In [ ]:
nnc = 100.00
nnd = int(nnc)

print(nnd)

t4 = type(nnd)
print(t4)

In [ ]:
# 문자열을 '입력'할 때는 input 함수를 쓰고
    # 입력 w/ string data type
# 다른 데이터 타입을 문자열로 '변환'할 때는 'str( )' 쓴다!!!
    # convert other date types that already exists to string data type!!

In [ ]:
nq = 100
sq = str(nq)
print(sq)

t1 = type(sq)
print(t1)

In [ ]:
print(type(nq), type(sq))

In [ ]:
a = pow(2, 3)
b = abs(-100.01)
c = round(123.45)
d = round(45.67)
e = round(12.345, 1)

print(a, b, c, d, e)

In [ ]:
def f(x):
        y = x + 1
        print(y)

In [ ]:
f(2)

In [ ]:
def say_hello( ):
    print("Hello World")
    print("한글로는 안녕하세요 여러분.")

In [ ]:
say_hello( )

In [ ]:
def h(a):
    b = round(pow(a, 2), 1)
    print(b)

In [ ]:
h(3)

In [ ]:
h(1.1)

In [ ]:
def f(x1, x2):
    y = x1 // x2
    print(y)

In [ ]:
f(7, 2)

In [ ]:
def f(a, b, c=1, d=0):
    y = a + b + c + d
    print(y)

In [ ]:
f(1, 1, 2, 3)

In [ ]:
f(2, 3, c, 1)

In [ ]:
input("결과 왜 이따구로 나오지?!")

In [ ]:
f(2, 3, 4)

In [ ]:
f(d=2, c=3, a=1, b=2)

In [ ]:
def f(a, b, c):
    d = (a + b) / c
    return d

In [ ]:
print(f(4, 6, 2))

In [ ]:
e = f(a, b, c) * 3
a = 3
b = 5
c = 4
print(e)

In [ ]:
input("여기도 결과 왜 이따구야?!")

In [ ]:
e = f(3, 5, 4) * 3
print(e)

In [ ]:
f = f(3, 5, 4) ** 3
print(f)

In [ ]:
input("아하.. 이게 아까 내가 이해 못했던 부분이랑 연관 있는거 같네")

In [ ]:
input("return 쓴 함수가 잘 작동하기 위해서는, 함수 지정할 때의 변수들에 다 숫자를 대입해야만 가능하구나")

In [ ]:
input("함수의 유효성(variable scope) 함수 내부에서 선언된 변수는 해당 함수 내부에서만 사용할 수 있다. 즉 함수 밖에서는 사용할 수 없다.")

In [ ]:
def solution(num1, num2):
    answer = num1 + num2
    return answer

In [ ]:
print(solution(2, 3))
print(solution(100, 2))

In [ ]:
def solution(num1, num2):
    answer = num1 + num2
    return answer

print(solution(2, 3))
print(solution(100, 2))

In [ ]:
def solution(num1, num2):
    answer = num1 % num2
    return answer

In [ ]:
def solution(age):
    answer = 2022 - age + 1
    return answer

In [ ]:
input("colon(:) stands for the existance of floowing commands")

In [ ]:
input("VSCode에서 'tab'키 = four times of 'spacebar'")

In [ ]:
print("시험 시작!")

score = int(input("점수를 입력하시오."))
if score>=60:
    print("합격입니다~!")

print("시험 끄으으읕~")

In [ ]:
print("시험 시작!")

score = int(input("점수를 입력하시오."))
if score>=60:
    print("합격입니다~!")
else:
    print("아쉽지만 다음 기회에 ㅠㅠ")

print("시험 끄으으읕~")

In [ ]:
# money = 30000
money = 0

if money:
    print("택시 타고")

print("집 가자")

In [ ]:
# name = "Python"
name = ""

if name:
    print(name)

print("프로그래밍")

In [ ]:
your_age = int(input("나이를 입력하시오"))

if your_age > 20 and your_age < 35:
    print("청년층입니다~")

if your_age <= 20 or your_age >= 35:
    print("청년층이 아닙니다!")

In [ ]:
#a = True
a = False

if a == True:
    print("alphabet a")

if a == False:
    print("alphabet other than a")

if a != True:
    print("alphabet other than a")

if a != False:
    print("alphabet a")

if a:
    print("alphabet a")

if not a:
    print("alphabet other than a")

In [ ]:
print("시험 시작")

score = int(input("점수를 입력하시오."))

if score >= 60:
    print("합격입니다!")
else:
    print("다음 기회에ㅠ")

print("시험 끝!")

In [ ]:
answer = input("당신은 한국인 입니까?")

if answer == "Y":
    amKorean = True
else:
    amKorean = False

if amKorean: 
    print("넵") #True는 변수가 아니므로 여기서는 변수자리에 해당하는 amKorean이 들어와야됨
else:
    print("아뇨")

In [ ]:
if not amKorean:
    print("아뇹")
else:
    print("옙")

In [ ]:
print("시험 시작!")

score = int(input("type your mid-term score here."))

if score > 90:
    print("grade A")
elif score > 80:
    print("grade B")
elif score > 70:
    print("grade C")
elif score > 60:
    print("grade D")
else:
    print("Failed")

In [ ]:
def solution(hp):
    x = int(hp // 5)
    y = int((hp % 5) // 3)
    z = int((hp % 5) % 3)
    answer = x + y + z
    return answer

In [ ]:
solution(999)

In [ ]:
# 초기식
# 조건식
# 증감식

x = 1
while x <= 10:
    print("x=", x)
    x += 1
print("x의 최종 값 =", 1)

In [ ]:
x = int(input("input number"))
y = 1
while y < 10:
    z = x * y
    print(x, "x", y, "=", z)
    y += 1
print("end")

In [ ]:
# sum from 1 to 10

x = 1
sum = 0
while x <= 10:
    sum += x
    print("x =", x, ": sum = ", sum)
    x += 1

In [ ]:
# 0 부터 50까지 10씩 증가할 때

x = 0
while x <= 50:
    print(x)
    x += 10

In [ ]:
# 20 부터 5씩 감소할 때 

x = 20
while x > 0:
    print(x)
    x -= 5

In [ ]:
# 1 부터 10까지의 합을 구하여라

a = 1
sum = 0
while a <= 10:
    sum += a
    print("a=", a, ": sum=", sum)
    a += 1

In [ ]:
# 등차수열 예시(첫항 = 1, 공차 = 2, 항 10개)
a = 1
n = 1
sum = 0
while n <= 10:
    sum += a
    print("n = ", n, "a = ", a, ": sum = ", sum)
    n += 1
    a += 2

In [ ]:
# 등비수열 예시(첫항 = 1, 공비 = 2, 항 10개)
a = 1
n = 1
sum = 0
while n <= 10:
    sum += a
    print("n = ", n, "a = ", a, ": sum = ", sum)
    n += 1
    a *= 2

In [ ]:
def solution(angle):
    if angle > 0 and angle < 90:
        answer = 1
    elif angle == 90:
        answer = 2
    elif angle > 90 and angle < 180:
        answer = 3
    elif angle == 180: 
        answer = 4
    return answer

In [ ]:
def solution(num1, num2):
    if num1 == num2:
        answer = 1
    else:
        answer = -1
    return answer

In [ ]:
def solution(price):
    if price >= 500000:
        answer = int(0.8 * price)
    elif price >= 300000:
        answer = int(0.9 * price)
    elif price >= 100000:
        answer = int(0.95 * price)
    return answer

In [ ]:
solution(150000)

In [ ]:
solution(580000)

In [ ]:
t = type(answer)
print(t)