# LAB 02 - Pandas Library
## #04. 데이터 확인하기

In [ ]:
#        ┏ A => 변형 => 저장 => re-load ┐
# SQL    | B => 변형 => 저장 => re-load | =>결합=>저장(csv or excel)
# or  => | C => 변형 => 저장 => re-load |
# API    └ D => 변형 => 저장 => re-load ┘

### 라이브러리 참조

In [4]:
from hossam import load_data

### 데이터 불러오기

In [8]:
# 과목별 점수 데이터 ('load_data(df이름)')
origin = load_data('grade')
origin

[data] https://data.hossam.kr/data/grade.xlsx
[desc] 어느 학급의 과목별 점수를 조사한 가상의 데이터

field    description
-------  -------------
이름     index
학년     int
성별     str
국어     int
영어     int
수학     int
과학     int

    학년  성별  국어   영어  수학  과학
이름
철수   1  남자  98   77  88  64
영희   2  여자  88  120  62  72
민철   1  남자  92   70  83  79
수현   3  여자  63   60  31  71
호영   4  남자  75   50  90  88
영호   4  남자  80   88  91  72
용식   2  남자  82   88  79  90
나영   1  여자  90   92  81  95
석영   1  남자  91   90  89  80

### 엑셀로 저장하기(1)  '.to_excel("파일이름.xlsx")'

In [ ]:
# 원본파일, 이름만 지정:
origin.to_excel("1.xlsx")

### 엑셀로 저장하기(2) - 인덱스를 포함하는 경우

In [ ]:
# 저장할 때 인덱스 필드 포함을 원한다면 인덱스필드 이름 지정도 가능:
origin.to_excel("2.xlsx",           # 파일이름
                index=True,         # 인덱스 포함여부 (기본값=True)
                index_label="Name"  # 인덱스 필드 원하는 이름
                )

### 엑셀로 저장하기(3) - 인덱스를 포함하지 않는 경우

In [15]:
# 저장할 컬럼들만 지정 및 컬럼별 이름을 설정하면 된다:
origin.to_excel("3.xlsx",                         # 파일이름
                index=False,                      # 인덱스 포함여부 (기본값=True)
                columns=['학년', '성별', '국어'],  # 저장할 컬럼 목록
                header=['level', 'sex', 'kor']   # 컬럼별 제목(이름) 설정
                )

### CSV로 저장하기(1)  '.to_csv("파일이름.csv", encoding='utf-8')'

In [17]:
# 원본파일, 이름이랑 인코딩만 지정:
origin.to_csv("1.csv", encoding = 'utf-8')

### CSV로 저장하기(2) - 인덱스를 포함하는 경우

In [20]:
# 파라미터로 인덱스이름 설정할 때:
origin.to_csv("2.csv",              # 파일이름
              encoding = 'utf-8',   # 인코딩
              index=True,           # 인덱스 포함 여부
              index_label="Name"    # 인덱스 필드 제목(라벨)
              )

### CSV로 저장하기(3) - 인덱스를 포함하지 않는 경우

In [19]:
# 저장할 컬럼들만 지정 및 컬럼별 이름을 설정하면 된다:
origin.to_csv("3.csv",                         # 파일이름
              encoding = 'utf-8',              # 인코딩
              index=False,                     # 인덱스 포함여부
              columns=['학년', '성별', '국어'], # 저장할 컬럼 목록
              header=['level', 'sex', 'kor']   # 컬럼별 제목(이름) 설정
              )