### 1-1. 과일가게 매출기록 정리하기

In [4]:
from hossam import load_data
from pandas import CategoricalDtype

In [9]:
# 1. fruit_shop의 shape, data type 확인하기
origin = load_data('fruit_shop')
origin

[data] https://data.hossam.kr/data/lab03/fruit_shop.xlsx
[desc] 어느 과일 가게의 매출을 정리한 가상의 데이터(인덱스와 메타데이터 없음)
[!] Cannot read metadata

    판매일   과일 등급    가격  Num_Sold
0     1   사과  A  1500        10
1     1  바나나  B  1000        15
2     1   사과  B  1200         5
3     2  복숭아  A  2500         8
4     2  바나나  A  1200        12
5     2   사과  C  1000        20
6     3   사과  A  1500        12
7     3  복숭아  B  2200        10
8     3  바나나  B  1000        18
9     4  바나나  A  1200        20
10    4   사과  B  1200        11
11    4  복숭아  A  2500        15

In [ ]:
rows, cols = origin.shape
print("%d행, %d열로 구성된 %d차원 데이터임" % (rows, cols, origin.ndim))

#rows, cols = origin.shape
#ndim = origin.ndim
#print("%d행, %d열로 구성된 %d차원 데이터임" % (rows, cols, ndim))

12행, 5열로 구성된 2차원 데이터임

In [10]:
origin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   판매일       12 non-null     int64
 1   과일        12 non-null     object
 2   등급        12 non-null     object
 3   가격        12 non-null     int64
 4   Num_Sold  12 non-null     int64
dtypes: int64(3), object(2)
memory usage: 612.0+ bytes

In [ ]:
# 2. 'Num_Sold' 변수 이름 '판매량'으로 바꾸기:
컬럼이름변경용df = origin.rename(
    columns = {'Num_Sold': '판매량'}
    )
컬럼이름변경용df

    판매일   과일 등급    가격  판매량
0     1   사과  A  1500   10
1     1  바나나  B  1000   15
2     1   사과  B  1200    5
3     2  복숭아  A  2500    8
4     2  바나나  A  1200   12
5     2   사과  C  1000   20
6     3   사과  A  1500   12
7     3  복숭아  B  2200   10
8     3  바나나  B  1000   18
9     4  바나나  A  1200   20
10    4   사과  B  1200   11
11    4  복숭아  A  2500   15

In [ ]:
# 3. 데이터 타입 요구조건에 맞게 바꾸기:

#컬럼타입변경용df = 컬럼이름변경용df.copy() 
# ↑: .astype()이 복사본 자동생성 하니까 .copy()는 굳이 안해도 됨
컬럼타입변경용df = 컬럼이름변경용df.astype(
    {
    '과일': "category",
    '등급': CategoricalDtype(categories=['C', 'B', 'A'], ordered=True)
    }
)
# 4. 전처리 작업 완료한 최종 데이터셋 정보 확인하기:
컬럼타입변경용df.info()     # 서열척도는 info에 안나옴

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   판매일     12 non-null     int64
 1   과일      12 non-null     category
 2   등급      12 non-null     category
 3   가격      12 non-null     int64
 4   판매량     12 non-null     int64
dtypes: category(2), int64(3)
memory usage: 708.0 bytes

### 1-2. 데이터 구성하기

In [25]:
from pandas import DataFrame
from pandas import CategoricalDtype

In [ ]:
# 1. 실험 데이터를 요구조건에 맞추어 데이터프레임화 하기:
exp_1 = [
    ['A1', 62, 60, 63, 59, 61],
    ['A2', 62, 67, 71, 64, 65, 66],
    ['A3', 68, 66, 71, 67, 68, 69, 70],
    ['A4', 58, 62, 60, 59, 61, 63, 64]
]
df = DataFrame(exp_1)
df

    0   1   2   3   4   5     6     7
0  A1  62  60  63  59  61   NaN   NaN
1  A2  62  67  71  64  65  66.0   NaN
2  A3  68  66  71  67  68  69.0  70.0
3  A4  58  62  60  59  61  63.0  64.0

In [ ]:
# 2. class 변수의 데이터타입을 명목형 변수로 바꾸기:
c_names = ['class', 'time_1', 'time_2', 'time_3', 'time_4', 'time_5', 'time_6', 'time_7']
df = DataFrame(exp_1, columns = c_names)
df

  class  time_1  time_2  time_3  time_4  time_5  time_6  time_7
0    A1      62      60      63      59      61     NaN     NaN
1    A2      62      67      71      64      65    66.0     NaN
2    A3      68      66      71      67      68    69.0    70.0
3    A4      58      62      60      59      61    63.0    64.0

In [29]:
변수타입변경용df = df.copy()
변수타입변경용df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   class   4 non-null      object
 1   time_1  4 non-null      int64
 2   time_2  4 non-null      int64
 3   time_3  4 non-null      int64
 4   time_4  4 non-null      int64
 5   time_5  4 non-null      int64
 6   time_6  3 non-null      float64
 7   time_7  2 non-null      float64
dtypes: float64(2), int64(5), object(1)
memory usage: 388.0+ bytes

In [31]:
변수타입변경용df = df.astype(
    {'class': 'category'}
)
변수타입변경용df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   class   4 non-null      category
 1   time_1  4 non-null      int64
 2   time_2  4 non-null      int64
 3   time_3  4 non-null      int64
 4   time_4  4 non-null      int64
 5   time_5  4 non-null      int64
 6   time_6  3 non-null      float64
 7   time_7  2 non-null      float64
dtypes: category(1), float64(2), int64(5)
memory usage: 564.0 bytes

In [35]:
# 시각화 목적에 따라서 데이터프레임 구성이 달라진다

In [ ]:
# df 만들기: 리스트를 포함하는 딕셔너리 형태로:
#data = {
#    'class': [
#        "A1", "A1", "A1", "A1", "A1", 
#        "A2", "A2", "A2", "A2", "A2", "A2", 
#        "A3", "A3", "A3", "A3", "A3", "A3", "A3", 
#        "A4", "A4", "A4", "A4", "A4", "A4", "A4",  
#    ],
#    'time': [
#        62, 60, 63, 59, 61,
#        62, 67, 71, 64, 65, 66,
#        68, 66, 71, 67, 68, 69, 70,
#        58, 62, 60, 59, 61, 63, 64
#    ]
#}

#df = DataFrame(data)
#df

In [37]:
# df 만들기: 딕셔너리를 포함하는 리스트 형태로:
#data2 = [
#    {"class": A1, "time": 62},
#    {"class": A1, "time": 60},
#    {"class": A1, "time": 61},  ... 나열...
#]

#df2 = DataFrame(data2)
#df2

### 2-1. 신비한 생물 연구소의 데이터 정리 임무!

In [ ]:
# 0. 패키지 import 해오기:
from pandas import DataFrame
from hossam import load_data
from pandas import Series

In [53]:
origin = load_data("monsters")
origin
# 원본데이터 따로 저장 원하면 아래 출력된 [data] 링크 클릭하기

[data] https://data.hossam.kr/data/lab03/monsters.xlsx
[desc] 신비한 생물 연구소의 몬스터 데이터

field          description
-------------  ----------------------
monster_id     몬스터 고유 ID
last_seen      마지막으로 관찰된 날짜
species        생물 종
habitat        서식지
height         키 (m)
weight         몸무게 (kg)
caution_level  위험 등급

   monster_id  last_seen   species   habitat  height   weight caution_level
0        M001 2024-01-15   Griffin  Mountain     2.5    150.5          High
1        M002 2024-02-20   Unicorn    Forest     2.1    120.0           Low
2        M003 2024-03-10    Dragon   Volcano    15.2   5500.0     Very High
3        M004 2024-03-12    Dragon   Volcano    14.8   5300.0     Very High
4        M005 2024-04-05    Kraken     Ocean    30.5  15000.0          High
5        M006 2024-05-21   Phoenix    Desert     1.8     25.5        Medium
6        M007 2024-06-30   Mermaid     Ocean     1.9     65.5           Low
7        M008 2024-07-14    Goblin      Cave     1.1     40.2        Medium
8        M009 2024-08-01     Fairy    Forest     0.3      0.5           Low
9        M010 2024-09-10     Hydra     Swamp     5.5    800.0          High
10       M011 2024-10-02   Cyclops    Island     8.2   2500.0          High
11       M012 2024-11-18     Gnome    Garden     0.4      5.1           Low
12       M013 2024-12-25      Yeti  Mountain     3.5    300.0        Medium
13       M014 2025-01-20    Sphinx    Desert     2.8    180.0        Medium
14       M015 2025-02-15   Banshee     Ruins     1.7     45.0          High
15       M016 2025-03-22  Werewolf    Forest     2.3    110.0          High
16       M017 2025-04-18   Vampire    Castle     1.8     75.0          High
17       M018 2025-05-30   Chimera  Mountain     3.1    450.0     Very High
18       M019 2025-06-11  Basilisk     Sewer     4.0    200.0     Very High
19       M020 2025-07-07  Gargoyle   Rooftop     2.0    500.0        Medium

In [ ]:
# 1. 데이터의 첫 인상:
origin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   monster_id     20 non-null     object
 1   last_seen      20 non-null     datetime64[ns]
 2   species        20 non-null     object
 3   habitat        20 non-null     object
 4   height         20 non-null     float64
 5   weight         20 non-null     float64
 6   caution_level  20 non-null     object
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 1.2+ KB

In [42]:
df = DataFrame(origin)
df

   monster_id  last_seen   species   habitat  height   weight caution_level
0        M001 2024-01-15   Griffin  Mountain     2.5    150.5          High
1        M002 2024-02-20   Unicorn    Forest     2.1    120.0           Low
2        M003 2024-03-10    Dragon   Volcano    15.2   5500.0     Very High
3        M004 2024-03-12    Dragon   Volcano    14.8   5300.0     Very High
4        M005 2024-04-05    Kraken     Ocean    30.5  15000.0          High
5        M006 2024-05-21   Phoenix    Desert     1.8     25.5        Medium
6        M007 2024-06-30   Mermaid     Ocean     1.9     65.5           Low
7        M008 2024-07-14    Goblin      Cave     1.1     40.2        Medium
8        M009 2024-08-01     Fairy    Forest     0.3      0.5           Low
9        M010 2024-09-10     Hydra     Swamp     5.5    800.0          High
10       M011 2024-10-02   Cyclops    Island     8.2   2500.0          High
11       M012 2024-11-18     Gnome    Garden     0.4      5.1           Low
12       M013 2024-12-25      Yeti  Mountain     3.5    300.0        Medium
13       M014 2025-01-20    Sphinx    Desert     2.8    180.0        Medium
14       M015 2025-02-15   Banshee     Ruins     1.7     45.0          High
15       M016 2025-03-22  Werewolf    Forest     2.3    110.0          High
16       M017 2025-04-18   Vampire    Castle     1.8     75.0          High
17       M018 2025-05-30   Chimera  Mountain     3.1    450.0     Very High
18       M019 2025-06-11  Basilisk     Sewer     4.0    200.0     Very High
19       M020 2025-07-07  Gargoyle   Rooftop     2.0    500.0        Medium

In [ ]:
# 2. 쓸모없는 정보 삭제하기:
단일열_삭제df = df.copy()
단일열_삭제결과df = 단일열_삭제df.drop(columns = 'last_seen')
단일열_삭제결과df  #단일열_삭제결과df.head() <- 만약 데이터가 많을거 같으면.

   monster_id   species   habitat  height   weight caution_level
0        M001   Griffin  Mountain     2.5    150.5          High
1        M002   Unicorn    Forest     2.1    120.0           Low
2        M003    Dragon   Volcano    15.2   5500.0     Very High
3        M004    Dragon   Volcano    14.8   5300.0     Very High
4        M005    Kraken     Ocean    30.5  15000.0          High
5        M006   Phoenix    Desert     1.8     25.5        Medium
6        M007   Mermaid     Ocean     1.9     65.5           Low
7        M008    Goblin      Cave     1.1     40.2        Medium
8        M009     Fairy    Forest     0.3      0.5           Low
9        M010     Hydra     Swamp     5.5    800.0          High
10       M011   Cyclops    Island     8.2   2500.0          High
11       M012     Gnome    Garden     0.4      5.1           Low
12       M013      Yeti  Mountain     3.5    300.0        Medium
13       M014    Sphinx    Desert     2.8    180.0        Medium
14       M015   Banshee     Ruins     1.7     45.0          High
15       M016  Werewolf    Forest     2.3    110.0          High
16       M017   Vampire    Castle     1.8     75.0          High
17       M018   Chimera  Mountain     3.1    450.0     Very High
18       M019  Basilisk     Sewer     4.0    200.0     Very High
19       M020  Gargoyle   Rooftop     2.0    500.0        Medium

In [54]:
# 3. 신규 객체 추가하기:
Series_행추가df = 단일열_삭제결과df.copy()
s = Series(
    ['M021', 'Kelpie', 'Lake', 2.2, 'Medium'],
    index = ['monster_id', 'species', 'habitat', 'height', 'caution_level']
)
Series_행추가df.loc[20] = s     #.iloc[20]은 에러뜸!
Series_행추가df

# 인덱스(20)인지 확인 어려울 떄 부리는 기교방법:
# Series_행추가df.loc[Series_행추가df.index.max() + 1] = s

   monster_id   species   habitat  height   weight caution_level
0        M001   Griffin  Mountain     2.5    150.5          High
1        M002   Unicorn    Forest     2.1    120.0           Low
2        M003    Dragon   Volcano    15.2   5500.0     Very High
3        M004    Dragon   Volcano    14.8   5300.0     Very High
4        M005    Kraken     Ocean    30.5  15000.0          High
5        M006   Phoenix    Desert     1.8     25.5        Medium
6        M007   Mermaid     Ocean     1.9     65.5           Low
7        M008    Goblin      Cave     1.1     40.2        Medium
8        M009     Fairy    Forest     0.3      0.5           Low
9        M010     Hydra     Swamp     5.5    800.0          High
10       M011   Cyclops    Island     8.2   2500.0          High
11       M012     Gnome    Garden     0.4      5.1           Low
12       M013      Yeti  Mountain     3.5    300.0        Medium
13       M014    Sphinx    Desert     2.8    180.0        Medium
14       M015   Banshee     Ruins     1.7     45.0          High
15       M016  Werewolf    Forest     2.3    110.0          High
16       M017   Vampire    Castle     1.8     75.0          High
17       M018   Chimera  Mountain     3.1    450.0     Very High
18       M019  Basilisk     Sewer     4.0    200.0     Very High
19       M020  Gargoyle   Rooftop     2.0    500.0        Medium
20       M021    Kelpie      Lake     2.2      NaN        Medium

In [ ]:
# 4. 데이터 오류 수정하기:
행_복사df = Series_행추가df.copy()
행_복사df.loc[3] = 행_복사df.loc[2]
행_복사df.loc[3, 'monster_id'] = 'M003_copy'
행_복사df
# ↑ 하드코딩 방법

#-------------------------------------------------------------------
# 4. 행,열 둘 다 Series 객체인거 이용하면:

#행_복사df = Series_행추가df.copy()
#m003_data = 행_복사df[행_복사df['monster_id'] == 'M003'].copy()
#m003_data['monster_id'] = 'M003_copy'

#행_복사df.iloc[행_복사df[행_복사df['monster_id'] == 'M004'].index] = m003_data
#행_복사df
#-------------------------------------------------------------------

   monster_id   species   habitat  height   weight caution_level
0        M001   Griffin  Mountain     2.5    150.5          High
1        M002   Unicorn    Forest     2.1    120.0           Low
2        M003    Dragon   Volcano    15.2   5500.0     Very High
3   M003_copy    Dragon   Volcano    15.2   5500.0     Very High
4        M005    Kraken     Ocean    30.5  15000.0          High
5        M006   Phoenix    Desert     1.8     25.5        Medium
6        M007   Mermaid     Ocean     1.9     65.5           Low
7        M008    Goblin      Cave     1.1     40.2        Medium
8        M009     Fairy    Forest     0.3      0.5           Low
9        M010     Hydra     Swamp     5.5    800.0          High
10       M011   Cyclops    Island     8.2   2500.0          High
11       M012     Gnome    Garden     0.4      5.1           Low
12       M013      Yeti  Mountain     3.5    300.0        Medium
13       M014    Sphinx    Desert     2.8    180.0        Medium
14       M015   Banshee     Ruins     1.7     45.0          High
15       M016  Werewolf    Forest     2.3    110.0          High
16       M017   Vampire    Castle     1.8     75.0          High
17       M018   Chimera  Mountain     3.1    450.0     Very High
18       M019  Basilisk     Sewer     4.0    200.0     Very High
19       M020  Gargoyle   Rooftop     2.0    500.0        Medium
20       M021    Kelpie      Lake     2.2      NaN        Medium

In [55]:
# 5. 최종 보고서용으로 정렬하기:
열순서_변경df = 행_복사df.reindex( columns = ['monster_id', 'caution_level', 'species', 'habitat', 'height', 'weight'])
열순서_변경df

   monster_id caution_level   species   habitat  height   weight
0        M001          High   Griffin  Mountain     2.5    150.5
1        M002           Low   Unicorn    Forest     2.1    120.0
2        M003     Very High    Dragon   Volcano    15.2   5500.0
3   M003_copy     Very High    Dragon   Volcano    15.2   5500.0
4        M005          High    Kraken     Ocean    30.5  15000.0
5        M006        Medium   Phoenix    Desert     1.8     25.5
6        M007           Low   Mermaid     Ocean     1.9     65.5
7        M008        Medium    Goblin      Cave     1.1     40.2
8        M009           Low     Fairy    Forest     0.3      0.5
9        M010          High     Hydra     Swamp     5.5    800.0
10       M011          High   Cyclops    Island     8.2   2500.0
11       M012           Low     Gnome    Garden     0.4      5.1
12       M013        Medium      Yeti  Mountain     3.5    300.0
13       M014        Medium    Sphinx    Desert     2.8    180.0
14       M015          High   Banshee     Ruins     1.7     45.0
15       M016          High  Werewolf    Forest     2.3    110.0
16       M017          High   Vampire    Castle     1.8     75.0
17       M018     Very High   Chimera  Mountain     3.1    450.0
18       M019     Very High  Basilisk     Sewer     4.0    200.0
19       M020        Medium  Gargoyle   Rooftop     2.0    500.0
20       M021        Medium    Kelpie      Lake     2.2      NaN

### 3. 상점 판매 데이터 정제(cleaning) 챌린지

In [57]:
import numpy as np
from hossam import load_data
from pandas import DataFrame
from sklearn.impute import SimpleImputer

In [58]:
origin = load_data("month_sales")
origin

[data] https://data.hossam.kr/data/lab03/month_sales.xlsx
[desc] 데이터 정제(결측치 처리) 연습문제용 데이터

field     description
--------  -------------
OrderID   주문번호
Product   상품명
Category  상품 카테고리
Price     단가
Quantity  주문 수량

          Product     Category   Price  Quantity
OrderID
1001       Laptop  Electronics  1200.0      10.0
1002        Mouse  Electronics    25.0       NaN
1003     Keyboard  Electronics     NaN       5.0
1004      Monitor  Electronics   300.0       8.0
1005       Webcam  Electronics    80.0       NaN
1006         Desk    Furniture   150.0       3.0
1007        Chair    Furniture     NaN       2.0
1008         Lamp    Furniture    40.0      15.0
1009     Notebook   Stationery     5.0     100.0
1010          Pen   Stationery     1.0       NaN

In [ ]:
# 1. 미션1: 결측치 데이터 탐색

missingVs = origin.isnull()
missingVs.sum()
#--------또 다른 결측치 갯수 확인법------------
# 방법1: origin.isnull().sum()
# 방법2: origin.info()

Product     0
Category    0
Price       2
Quantity    3
dtype: int64

In [ ]:
# 2. 미션2: 신뢰할 수 없는 데이터 제거하기

excludeQ = origin.dropna(subset = ['Quantity'])
excludeQ

          Product     Category   Price  Quantity
OrderID
1001       Laptop  Electronics  1200.0      10.0
1003     Keyboard  Electronics     NaN       5.0
1004      Monitor  Electronics   300.0       8.0
1006         Desk    Furniture   150.0       3.0
1007        Chair    Furniture     NaN       2.0
1008         Lamp    Furniture    40.0      15.0
1009     Notebook   Stationery     5.0     100.0

In [ ]:
# 3. 미션3: 가격 정보 확인

pNaToMean = SimpleImputer(missing_values = np.nan, strategy = 'mean')
pNaToMean

SimpleImputer()

In [ ]:
# 3. 미션3: 가격 정보 확인

#df_pNaToMean = pNaToMean.fit_transform(origin.values(columns = ['Price']))
#df_pNaToMean
#df_pNaToMean = excludeQ.fit_transform(origin.values.loc[:, 'Price'])
#df_pNaToMean
df_pNaToMean = excludeQ.fillna(value = excludeQ['Price'].mean())
df_pNaToMean

#------또다른 방법: Price열만 추출하기------------
#excludeQ_reshape = excludeQ['Price'].values.reshape(-1, 1)
#df_pNaToMean = pNaToMean.fit_transform(excludeQ_reshape)
#df_pNaToMean

          Product     Category   Price  Quantity
OrderID
1001       Laptop  Electronics  1200.0      10.0
1003     Keyboard  Electronics   339.0       5.0
1004      Monitor  Electronics   300.0       8.0
1006         Desk    Furniture   150.0       3.0
1007        Chair    Furniture   339.0       2.0
1008         Lamp    Furniture    40.0      15.0
1009     Notebook   Stationery     5.0     100.0