# LAB 02 - Pandas Library
## #02. Series 객체의 기능

In [ ]:
# null + 숫자 -> 연산불가
# 기능: python ⊃ numpy ⊃ pandas
    # 기능의 표현이 조금씩 달라질 수 있음

### 라이브러리 참조

In [3]:
import numpy as np
from pandas import Series

In [ ]:
### Series 객체의 연산(1)

In [21]:
# list나 ndarray를 통한 객체 생성 시 인덱스를 직접 지정하면서 만들기:
my1 = Series([10, 20, 30], index = ['hello', 'world', 'nice'])
my1

hello    10
world    20
nice     30
dtype: int64

In [22]:
# 딕셔너리를 통한 객체 생성:
my2 = Series({"world": 1, "test": 2, "hello": 3})
my2

world    1
test     2
hello    3
dtype: int64

In [ ]:
### Series 객체의 연산(2)

In [23]:
# 인덱스가 같은 항목끼리 연산 수행함!!
    # if 연산할 대상이 없으면: NaN(Not a Number) 반환함

# 시리즈 객체의 사칙연산:
merge = my1 + my2
merge

hello    13.0
nice      NaN
test      NaN
world    21.0
dtype: float64

In [24]:
### Series 객체의 연산(3)

In [25]:
# 모든 원소에 대해 연산을 수행함 (NumPy랑 동일)
addon = my1 + 1000
addon

hello    1010
world    1020
nice     1030
dtype: int64

In [26]:
times = my1 * 5
times

hello     50
world    100
nice     150
dtype: int64

In [27]:
### 기초통계랑

In [28]:
# ndarray 기능을 그대로 지원!
column = Series([188, 92, 45, 63, 79])

print("합계:", column.sum())
print("평균:", column.mean())
print("최대:", column.max())
print("최소:", column.min())
print("분산:", column.var())
print("표준편차:", column.std())
print("중앙값:", column.median())
print("1사분위 수:", column.quantile(0.25))
print("2사분위 수:", column.quantile(0.5))
print("3사분위 수:", column.quantile(0.75))

합계: 467
평균: 93.4
최대: 188
최소: 45
분산: 3106.2999999999993
표준편차: 55.73419058351883
중앙값: 79.0
1사분위 수: 63.0
2사분위 수: 79.0
3사분위 수: 92.0

In [38]:
### 조건 검색(1)

In [39]:
# 샘플 데이터 정의
    # 0부터 100 전까지 10씩 증가하는 값을 원소로 가지는 객체 생성:
column = Series(np.arange(0, 100, 10))
column

0     0
1    10
2    20
3    30
4    40
5    50
6    60
7    70
8    80
9    90
dtype: int64

In [40]:
### 조건 검색(2)

In [42]:
# NumPy랑 식 표현 동일함
in1 = column[column > 30]
in1

4    40
5    50
6    60
7    70
8    80
9    90
dtype: int64

In [43]:
### 조건 검색(3)

In [44]:
# AND 검색 -> 표기법 다름!
    # 대괄호를 이중으로 표기한다.
in2 = column[column <= 70][column > 10]
in2

2    20
3    30
4    40
5    50
6    60
7    70
dtype: int64

In [45]:
### 조건 검색(4)

In [46]:
# OR 검색 -> 표기법 다름!
    # 하나의 대괄호 안에 파이프라인(|)으로 구분함!
in3 = column[ (column <= 10) | (column >= 70)]
in3

0     0
1    10
7    70
8    80
9    90
dtype: int64

In [47]:
### 타입 변환(1)

In [48]:
# 실습용 원봅객체 생성:
origin = Series(np.arange(0, 100, 10))
origin.info()

<class 'pandas.core.series.Series'>
RangeIndex: 10 entries, 0 to 9
Series name: None
Non-Null Count  Dtype
--------------  -----
10 non-null     int64
dtypes: int64(1)
memory usage: 212.0 bytes

In [49]:
### 타입 변환(2)

In [50]:
# 실수(float) 타입으로 변환하는 방법:
    # NumPy랑 마찬가지로 astype() 메서드 사용함
x = origin.astype('float')
x.info()

<class 'pandas.core.series.Series'>
RangeIndex: 10 entries, 0 to 9
Series name: None
Non-Null Count  Dtype
--------------  -----
10 non-null     float64
dtypes: float64(1)
memory usage: 212.0 bytes

In [51]:
### 타입 변환(3)

In [52]:
# 문자열(str) 타입으로 변환:
y = origin.astype('str')
y.info()

<class 'pandas.core.series.Series'>
RangeIndex: 10 entries, 0 to 9
Series name: None
Non-Null Count  Dtype
--------------  -----
10 non-null     object
dtypes: object(1)
memory usage: 212.0+ bytes

In [53]:
### 데이터 정렬(1)

In [60]:
# 값 기반 (오름차순)으로 정렬하는 방법:
my_dict = {"c": 456, "a": 123, "b": 789}
origin = Series(my_dict)

sort1 = origin.sort_values()
sort1

a    123
c    456
b    789
dtype: int64

In [61]:
### 데이터 정렬(2)

In [62]:
# 값 기반 (내림차순)으로 정렬하는 방법:
sort2 = origin.sort_values(ascending = False)
sort2

b    789
c    456
a    123
dtype: int64

In [63]:
### 데이터 정렬(3)

In [64]:
# 인덱스 기반 (오름차순)으로 정렬하는 방법:
sort3 = origin.sort_index()
sort3

a    123
b    789
c    456
dtype: int64

In [65]:
### 데이터 정렬(4)

In [66]:
# 인덱스 기반 (내림차순)으로 정렬하는 방법:
sort4 = origin.sort_index(ascending = False)
sort4

c    456
b    789
a    123
dtype: int64